@page "/"
@using TaxaApp.Codes
@using System.Text.Json;


@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ApiService ApiService


<html>

<body>
    <div>
        <iframe id="mapIframe" width="1250" height="450" style="border:0" loading="lazy" allowfullscreen src="@MapRoute"></iframe>
    </div>

<div class="container">
    <input class="search-box" type="text" @bind="AddressStart" placeholder="Vælg Adresse" />
    <input class="search-box" type="text" @bind="AddressEnd" placeholder="Vælg Destination" />
    <button type="button" @onclick="Calculate">Næste</button>
</div>

        <script>
            function updateIframeSource(src) {
                document.getElementById('mapIframe').src = src;
            }
        </script>

</body>

</html>

