@page "/pagetwo"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<h3>PageTwo</h3>

<div>
    <iframe width="600" height="450"
            style="border:0" loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/view?zoom=11&center=55.6761%2C12.5683&key=AIzaSyArd3NK5stVf6nSeBSEcrsH-9FKCRuT_U0">
    </iframe>
</div>

@code {

}
